.container{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.linkShorter {
    display: block;
    width: 400px;
    margin: 0 auto 20px;
}

.short {
    display: block;
    margin: 10px auto;
}